{% extends 'generator/layout.html' %}

{% block content %}
<h1>About</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto non corrupti recusandae. Nostrum odio sequi, modi
  suscipit facilis sint ex? Nisi, fugiat labore. Minima asperiores provident animi? Labore rem cupiditate, amet quia
  nobis eos molestiae voluptates eaque sint saepe soluta et veritatis unde facere dicta nulla, ipsam corrupti dolorem
  minima cumque. Dignissimos facilis sunt quas, voluptate quaerat maxime odio fuga reprehenderit eligendi dolore totam
  cupiditate architecto quis delectus corporis ab consequuntur dolores? Nihil, ratione inventore. Maxime voluptas
  officia perferendis rerum dicta aliquid, consequuntur, alias veniam delectus earum tempora ducimus architecto
  distinctio odio, excepturi eveniet esse tenetur omnis. Voluptatem, aut optio.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, odio atque! Officia incidunt suscipit dignissimos.
  Odit et quo a? Eius, adipisci ea officia quam aliquam iure, ab aut assumenda rerum eaque repellat ipsa cupiditate.
  Veniam, blanditiis rerum. Architecto, sequi sapiente?</p>
{% endblock %}
