<form action="password">
        <h1>Password Generator</h1>
        <label for="length">Select the Length of your Password</label>
<select id="length" name="length">
    <option value="6">6 Characters</option>
    <option value="7">7 Characters</option>
    <option value="8">8 Characters</option>
    <option value="9">9 Characters</option>
    <option value="10">10 Characters</option>
    <option value="11">11 Characters</option>
    <option value="12">12 Characters</option>
    <option value="13">13 Characters</option>
    <option value="14">14 Characters</option>
    </select>

  <label for="uppercase">Uppercase</label>
  <input type="checkbox" id="uppercase" name="uppercase">

    <button>Generate Password</button>
      </form>

